{% extends "base.html" %} {% set page_title = "Majorpodo" %} {% block content %}
<ul class="episodes">
	{% for data in shows %} {% set show = data[0] %} {% set episodes = data[1] %}
	<li>
		<h2 class="title">
			<div class="icon">
				{% if episodes[0].metadata.video %}
				<img src="/static/video.svg" height="20" width="20" alt="Video: " />
				{% else %}
				<img src="/static/audio.svg" height="20" width="20" alt="Audio: " />
				{% endif %}
			</div>
			<a href="/title/{{show | urlencode}}">{{show}}</a>
		</h2>

		<div class="head">
			<p class="position">{{episodes.length}} episodes</p>
			<div>
				<a href="/{{show | urlencode}}/rss"
					><img alt="RSS feed for {{title}}" src="/static/rss.svg" height="20" width="20"
				/></a>
			</div>
		</div>

		{% if episodes[0].image %}<img src="{{episodes[0].image}}" />{% endif %}
	</li>
	{% endfor %}
</ul>
{% endblock %}
<!--
	<p class="position">Season {{episode.metadata.common.disk.no}} Episode {{episode.metadata.common.track.no}}</p>
	<h2>{{episode.title}}</h2>
	{% if episode.image %}<img src="{{episode.image}}" />{% endif %}
	<div><a href="{{episode.url}}">Download</a></div>
	{{episode.metadata.description | safe}}
-->
