{% extends "base.html" %} {% set page_title = "Majorpodo" %} {% block content %}
<ul class="episodes">
	{% for data in shows %} {% set show = data[0] %} {% set episodes = data[1] %}
	<li>
		<h2 class="title">
			<div class="icon prefix">
				{% if episodes[0].metadata.video %} {% include "icons/videocam-black-18dp.svg" %} {% else %} {% include
				"icons/headset-black-18dp.svg" %} {% endif %}
			</div>
			<a href="/title/{{show | urlencode}}">{{show}}</a>
		</h2>

		<div class="head">
			<p class="position">{{episodes.length}} episodes</p>
			<div class="icon">
				<a href="/{{show | urlencode}}/rss">{% include "icons/rss_feed-black-18dp.svg" %}</a>
			</div>
		</div>

		{% if episodes[0].image %}<img src="{{episodes[0].image}}" />{% endif %}
	</li>
	{% endfor %}
</ul>
{% endblock %}
