<!DOCTYPE html>
<meta charset="utf-8" />
<title>Podcast: {{title}}</title>
<link rel="stylesheet" href="/static/style.css" />
<h1>{{title}} Podcast</h1>
<p>(<a href="/{{title | urlencode}}/rss">RSS</a>)</p>

<style>
	article {
		padding: 1em;
		margin: 1em;
		border: solid black 1px;
	}

	.position {
		background: rgba(100, 100, 100, 0.5);
	}

	h2 {
		border-bottom: solid black 1px;
	}
</style>

{% for episode in show %}
<article>
	<p class="position">Season {{episode.metadata.common.disk.no}} Episode {{episode.metadata.common.track.no}}</p>
	<h2>{{episode.title}}</h2>
	{% if episode.image %}<img src="{{episode.image}}" />{% endif %}
	<div><a href="{{episode.url}}">Download</a></div>
	{{episode.metadata.description | safe}}
</article>
{% endfor %}
